<!DOCTYPE html>
<html>
<head>
    <title>Sign up right here</title>

    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="content">
        <div>
            <#if errorMessage??>
                <p id="errormessage">${errorMessage}</p>
                <img src="/img/sad_doge.jpg" />
            <#else>
                <img src="/img/doge.jpeg" />
            </#if>
        </div>

        <form method="post">
            <label for="username" title="Username: ">
                <input id="username" type="text" name="username"/>
            </label>
            <label for="password" title="Password: ">
                <input id="password" type="text" name="password"/>
            </label>
            <label title="Submit">
                <input type="submit" value="Sign up" />
            </label>
        </form>
        <a href="/login">Log in here</a>
    </div>
</body>
</html>