<!DOCTYPE html>
<html>
<head>
    <meta name="page" content="timer">
    <title>Le timer</title>
    <script type="text/javascript" src="/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/js/refresh.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="content">
        <#if userId??>
            <h3 id="userId" class="info-header">Your kinda ID: ${userId}</h3>
        </#if>
        <img id="doge" src="/img/doge.jpeg" />
        <p id="refresh"></p>
        <div class="pages">
            <#if userId??>
                <a href="/index">Index here</a>
            </#if>
            <a href="/login">Log in here</a>
            <a href="/signup">Sign up here</a>
        </div>
    </div>

</body>
</html>